html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 50%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 6px;
    border-radius: 6px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    margin: 6px 6px;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.remove-events {
	pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    margin: 0 auto;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
	background-color: #f4f4f4;
	margin: 20% auto;
	padding: 2em;
	width: 75%;
	height: 35%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0px rgba(0, 0, 0, 0.2);
	
}

.close-btn {
	color: #ccc;
	float: right;
	font-size: 2.5em;
}

.close-btn:hover,.close-btn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.play-again-btn {
	color: #ccc;
	font-size: 2em;
}

.play-again-btn:hover, .play-again-btn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;


}

.modal-content p {
	padding-bottom: 5%;
}

@media screen and (max-width: 409px) {
	h1 {
		font-size: 1.75em;
	}

	.deck {
		width: 87%;
	}

	.deck .card {
		height: 3.55rem;
		width: 3.55rem;
	}
}

@media screen and (max-width: 497px) and (min-width: 410px) {
	h1 {
		font-size: 1.75em;
	}
	
	.deck {
		width: 70%;
	}

	.deck .card {
		height: 3.45rem;
		width: 3.45rem;
	}
	
}

@media screen and (min-width: 498px) and (max-width: 611px) {
	.deck {
		width: 70%;
	}

	.deck .card {
		height: 4.45rem;
		width: 4.45rem;
	}
}


@media screen and (min-width: 612px) and (max-width: 756px) {
	.deck {
		width: 65%;
	}

	.deck .card {
		height: 5.25rem;
		width: 5.25rem;
	}
}

@media screen and (min-width: 757px) and (max-width: 916px) {
	.deck {
		width: 55%;
	}

	.deck .card {
		height: 5.4rem;
		width: 5.4rem;
	}
}

@media screen and (min-width: 917px) and (max-width: 1120px) {
	.deck {
		width: 50%;
	}

	.deck .card {
		height: 6rem;
		width: 6rem;
	}
}

@media screen and (min-width: 1121px) and (max-width: 1360px) {
	.deck {
		width: 50%;
	}

	.deck .card {
		height: 7.6rem;
		width: 7.6rem;
	}
}

@media screen and (min-width: 1360px){
	.deck {
		width: 50%;
	}

	.deck .card {
		height: 9.2rem;
		width: 9.2rem;
	}
}

