body {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.mos.cms.futurecdn.net/FUE7XiFApEqWZQ85wYcAfM.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

body .clock {
  border-radius: 50%;
  background: black;
  width: 25em;
  height: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  webkit-box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.49);
          box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.49); }

body .clock .clock-face {
  width: 23em;
  height: 23em;
  background: #f3e2c7;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

body .clock .clock-face .seconds-face {
  width: 10em;
  height: 10em;
  background: #a4b357;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #a4b357 0%, #75890c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px); }

body .clock .clock-face .seconds-face p {
  color: black; }

body .clock .clock-face .seconds-face .center-dial {
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 48%;
  top: 49%; }

body .clock .clock-face .seconds-face .second-hand {
  width: 45%;
  height: 6px;
  background: black;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 50%;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  left: 5%;
  border-radius: 30%;
  -webkit-transition: all 0.05s;
  transition: all 0.05s; }

body .clock .clock-face .hand {
  width: 48%;
  height: 6px;
  background: black;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 50%;
  right: 50%;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  border-radius: 30%;
  -webkit-transition: all 0.05s;
  transition: all 0.05s; }
